# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / tooling
.pytest_cache/
.ruff_cache/

# Build outputs
build/
dist/
*.egg-info/

# Local project data
data/raw/*
data/processed/*

# Keep folders in Git
!data/raw/.gitkeep
!data/processed/.gitkeep